@import url('https://fonts.googleapis.com/css?family=Cairo|IBM+Plex+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');



// all pages

body {
    margin: 0;
}

html {
    font-size: 17px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

// home specific

.homeWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(untitled.png);
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 20em;
}

#name {
    font-size: 8em;
    margin-bottom: -2em;;
}


#job {
    font-size: 3.5em;

}

.bottomHalf {
    margin: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.navBar {
    margin: auto;
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    ul {
        display: flex;
        flex-direction: row;

        li {
            text-align: center;
            padding: .2em;
            margin: .2em;
            letter-spacing: .1em;
            background-color: rgb(230, 230, 230);
            border-radius: 1em 0.5em 1em 0.5em;
            padding: 0 0.5em 0 0.5em;
            color: white;
        }
        li:hover {
            background-color: darkgray;
        }
    }
}

.middle {
    background-color: turquoise;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 2em;
}


footer {
    margin-top: 5em;
    padding: 0.1em;
    background-color: turquoise;
    width: 100%;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        li {
            padding: 0.4em;
        }
    }
}

.content {
    margin: 5em;
}


// other pages

#nameNav {
    background: url(Untitled.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
}

#otherNavLink {
    color: white;
    font-size: 2em;
    text-align: center;
    flex: 1;
}

.pagesNavBar {
    padding: 0.1em;
    background-color: turquoise;
    font-family: 'Bebas Neue', cursive;
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 15em;
        li {
            flex: 25%;
        }
    }
}

.pagesHeader {
    background: url(Untitled.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4em;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin-top: -1em;
    margin-bottom: -1em;
}


// projects specific

.projectsTable {
    margin-right: 5em;
    margin-left: 5em;
    border-radius: 0.3em;
    background-color: turquoise;
    display: flex;
    padding: 1em;
    padding-inline-start: 0;
    ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        li {
            border-radius: 1em;
            background-image: url(javascriptScreenshot.png);
            background-size: contain;
            width: 18em;
            color: white;
            text-align: center;
            line-height: 18em;
            margin: 1em;
            box-shadow: white 1em 1em;
        }
    }
}

// about specific

.mainAboutContent {
    display: flex;
    margin-left: 5em;
    margin-right: 5em;
    p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }
    img {
        margin-right: 2em;
        margin-bottom: 1em;
    }
}


// media

@media only screen and (max-width: 768px) {
    body {
        font-size: 12px;
    }

}  